<a href="https://colab.research.google.com/github/steven1174/Python_Projects/blob/main/SQL/Instructor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Libraries

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
%%capture

try:
    import duckdb
except:
    !pip install duckdb
    import duckdb

# Queries

In [ ]:
con = duckdb.connect()

<ul>
 <li>Database creation with SQL.</li>
</ul>

In [ ]:
query = """
-- DROP TABLE INSTRUCTOR;

/*DDL Commands*/

CREATE TABLE INSTRUCTOR(
	id INTEGER PRIMARY KEY NOT NULL,
	lastname VARCHAR(15) NOT NULL,
	firstname VARCHAR(15) NOT NULL,
	city VARCHAR(15), 
	country CHAR(2)
	);
"""
df = con.execute(query).fetch_df()

<ul>
 <li>Querying <i>INSTRUCTOR.</i></li>
</ul>

In [ ]:
query = """
  /*DML Commands*/
  SELECT 
    *
  FROM INSTRUCTOR
"""
df = con.execute(query).fetch_df()
df

Empty DataFrame
Columns: [id, lastname, firstname, city, country]
Index: []

<ul>
 <li>Inserting values into <i>INSTRUCTOR.</i></li>
</ul>

In [ ]:
query = """
  /*DML Commands*/
  INSERT INTO  INSTRUCTOR (id, lastname, firstname, city, country)
  VALUES
    (1, 'Ahuja', 'Rav', 'Toronto', 'CA'),
    (2, 'Chong', 'Raul', 'Toronto', 'CA'),
    (3, 'Vasudevan', 'Hima', 'Chicago', 'US');
"""

df = con.execute(query).fetch_df()

<ul>
 <li>Querying <i>INSTRUCTOR.</i></li>
</ul>

In [ ]:
query = """
  /*DML Commands*/
  SELECT 
    *
  FROM INSTRUCTOR
"""
df = con.execute(query).fetch_df()
df

   id   lastname firstname     city country
0   1      Ahuja       Rav  Toronto      CA
1   2      Chong      Raul  Toronto      CA
2   3  Vasudevan      Hima  Chicago      US

<ul>
 <li>Updating values from <i>INSTRUCTOR.</i></li>
</ul>

In [ ]:
query = """
  /*DML Commands*/
  UPDATE INSTRUCTOR
    SET lastname = 'Torres',
        firstname	= 'Daniel',
        city = 'Bogota',
        country = 'CO'
    WHERE id = 1
"""
df = con.execute(query).fetch_df()

In [ ]:
query = """
  /*DML Commands*/
  UPDATE INSTRUCTOR
    SET lastname = 'Ramirez',
        firstname	= 'Sofia',
        city = 'Caracas',
        country = 'VE'
    WHERE id = 3
"""
df = con.execute(query).fetch_df()

<ul>
 <li>Querying <i>INSTRUCTOR.</i></li>
</ul>

In [ ]:
query = """
  /*DML Commands*/
  SELECT 
    *
  FROM INSTRUCTOR
"""
df = con.execute(query).fetch_df()
df

   id lastname firstname     city country
0   1   Torres    Daniel   Bogota      CO
1   2    Chong      Raul  Toronto      CA
2   3  Ramirez     Sofia  Caracas      VE

<ul>
 <li>Deleting values from <i>INSTRUCTOR.</i></li>
</ul>

In [ ]:
query = """
  /*DDL Commands*/
  DELETE FROM INSTRUCTOR 
  WHERE id = 2
"""
df = con.execute(query).fetch_df()

<ul>
 <li>Querying <i>INSTRUCTOR.</i></li>
</ul>

In [ ]:
query = """
  /* DML ---> Manupulacion */
  SELECT 
    *
  FROM INSTRUCTOR
"""
df = con.execute(query).fetch_df()
df

   id lastname firstname     city country
0   1   Torres    Daniel   Bogota      CO
1   3  Ramirez     Sofia  Caracas      VE