<a href="https://colab.research.google.com/github/steven1174/Python_Projects/blob/main/SQL/Instructor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Libraries

In [1]:
import numpy as np
import pandas as pd

In [2]:
%%capture

try:
    import duckdb
except:
    !pip install duckdb
    import duckdb

# Queries

In [3]:
con = duckdb.connect()

<ul>
 <li>Creación de base de datos en SQL.</li>
</ul>

In [51]:
query = """
-- DROP TABLE INSTRUCTOR;

/* DDL ---> Definición */

CREATE TABLE INSTRUCTOR(
	id INTEGER PRIMARY KEY NOT NULL,
	lastname VARCHAR(15) NOT NULL,
	firstname VARCHAR(15) NOT NULL,
	city VARCHAR(15), 
	country CHAR(2)
	);
"""
df = con.execute(query).fetch_df()

<ul>
 <li>Consultar la base de datos <i>INSTRUCTOR.</i></li>
</ul>

In [53]:
query = """
  /* DML ---> Manupulacion */
  SELECT 
    *
  FROM INSTRUCTOR
"""

df = con.execute(query).fetch_df()
df

Empty DataFrame
Columns: [id, lastname, firstname, city, country]
Index: []

<ul>
 <li>Ingresar datos a la base de datos <i>INSTRUCTOR.</i></li>
</ul>

In [54]:
query = """
  /* DML ---> Manupulacion */
  INSERT INTO  INSTRUCTOR (id, lastname, firstname, city, country)
  VALUES
    (1, 'Ahuja', 'Rav', 'Toronto', 'CA'),
    (2, 'Chong', 'Raul', 'Toronto', 'CA'),
    (3, 'Vasudevan', 'Hima', 'Chicago', 'US');
"""

df = con.execute(query).fetch_df()

<ul>
 <li>Consultar la base de datos <i>INSTRUCTOR.</i></li>
</ul>

In [55]:
query = """
  /* DML ---> Manupulacion */
  SELECT 
    *
  FROM INSTRUCTOR
"""
df = con.execute(query).fetch_df()
df

   id   lastname firstname     city country
0   1      Ahuja       Rav  Toronto      CA
1   2      Chong      Raul  Toronto      CA
2   3  Vasudevan      Hima  Chicago      US

<ul>
 <li>Actualizar un dato de la base de datos <i>INSTRUCTOR.</i></li>
</ul>

In [57]:
query = """
  /* DML ---> Manipulación */
  UPDATE INSTRUCTOR
    SET lastname = 'Torres',
        firstname	= 'Daniel',
        city = 'Bogota',
        country = 'CO'
    WHERE id = 1
"""
df = con.execute(query).fetch_df()

In [63]:
query = """
  /* DML ---> Manipulación */
  UPDATE INSTRUCTOR
    SET lastname = 'Ramirez',
        firstname	= 'Sofia',
        city = 'Caracas',
        country = 'VE'
    WHERE id = 3
"""
df = con.execute(query).fetch_df()

<ul>
 <li>Consultar la base de datos <i>INSTRUCTOR.</i></li>
</ul>

In [58]:
query = """
  /* DML ---> Manupulacion */
  SELECT 
    *
  FROM INSTRUCTOR
"""
df = con.execute(query).fetch_df()
df

   id   lastname firstname     city country
0   1     Torres    Daniel   Bogota      CO
1   2      Chong      Raul  Toronto      CA
2   3  Vasudevan      Hima  Chicago      US

<ul>
 <li>Eliminar un dato de la base de datos <i>INSTRUCTOR.</i></li>
</ul>

In [59]:
query = """
  /* DDL ---> Definición */
  DELETE FROM INSTRUCTOR 
  WHERE id = 2
"""
df = con.execute(query).fetch_df()

<ul>
 <li>Consultar base de datos <i>INSTRUCTOR.</i></li>
</ul>

In [64]:
query = """
  /* DML ---> Manupulacion */
  SELECT 
    *
  FROM INSTRUCTOR
"""
df = con.execute(query).fetch_df()
df

   id lastname firstname     city country
0   1   Torres    Daniel   Bogota      CO
1   3  Ramirez     Sofia  Caracas      VE