<a href="https://colab.research.google.com/github/steven1174/Python_Projects/blob/main/SQL/Instructor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Libraries

In [1]:
import numpy as np
import pandas as pd

In [2]:
%%capture

try:
    import duckdb
except:
    !pip install duckdb
    import duckdb

## Queries

In [3]:
con = duckdb.connect()

In [7]:
## Basic stats from League Database

query = """
--DROP TABLE INSTRUCTOR;

CREATE TABLE INSTRUCTOR(
	ins_id INTEGER PRIMARY KEY NOT NULL,
	lastname VARCHAR(15) NOT NULL,
	firstname VARCHAR(15) NOT NULL,
	city VARCHAR(15), 
	country CHAR(2)
	);
"""

con.execute(query)

In [9]:
query = """
--DROP TABLE INSTRUCTOR;

SELECT * FROM INSTRUCTOR
"""

df = con.execute(query).fetch_df()
df

Empty DataFrame
Columns: [ins_id, lastname, firstname, city, country]
Index: []