<a href="https://colab.research.google.com/github/steven1174/Python_Projects/blob/main/SQL/Petsale.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
%%capture

try:
    import duckdb
except:
    !pip install duckdb
    import duckdb

# Databases

In [4]:
con = duckdb.connect()

## Queries

<ul>
 <li>Database creation with SQL.</li>
</ul>

In [5]:
query = """
-- Create PETSALE table 
CREATE TABLE PETSALE(
	ID INTEGER PRIMARY KEY NOT NULL,
	ANIMAL VARCHAR(20),
	QUANTITY INTEGER,
	SALEPRICE DECIMAL(6,2),
	SALEDATE DATE);
"""
df = con.execute(query).fetch_df()

<ul>
 <li>Inserting values into <i>PETSALE</i>.</li>
</ul>

In [6]:
query = """
-- 3. Insert data into PETSALE table
INSERT INTO PETSALE 
VALUES
  (1,'Cat',9,450.09,'2018-05-29'),
  (2,'Dog',3,666.66,'2018-06-01'),
  (3,'Dog',1,100.00,'2018-06-04'),
  (4,'Parrot',2,50.00,'2018-06-04'),
  (5,'Dog',1,75.75,'2018-06-10'),
  (6,'Hamster',6,60.60,'2018-06-11'),
  (7,'Cat',1,44.44,'2018-06-11'),
  (8,'Goldfish',24,48.48,'2018-06-14'),
  (9,'Dog',2,222.22,'2018-06-15');
"""
df = con.execute(query).fetch_df()

<ul>
 <li>Consultar la base de datos <i>PETSALE.</i></li>
</ul>

In [7]:
query = """
  SELECT 
    *
  FROM PETSALE
"""
df = con.execute(query).fetch_df()
df

   ID    ANIMAL  QUANTITY  SALEPRICE   SALEDATE
0   1       Cat         9     450.09 2018-05-29
1   2       Dog         3     666.66 2018-06-01
2   3       Dog         1     100.00 2018-06-04
3   4    Parrot         2      50.00 2018-06-04
4   5       Dog         1      75.75 2018-06-10
5   6   Hamster         6      60.60 2018-06-11
6   7       Cat         1      44.44 2018-06-11
7   8  Goldfish        24      48.48 2018-06-14
8   9       Dog         2     222.22 2018-06-15

In [28]:
query = """
  WITH A AS (
    SELECT
      ID,
      ANIMAL,
      QUANTITY,
      SALEPRICE,
      SALEPRICE/QUANTITY UNITPRICE
    FROM PETSALE
    ),

  B AS (
    SELECT 
      DISTINCT(ANIMAL) animal,
      SUM(QUANTITY) total_quantity,
      SUM(SALEPRICE) total_value
    FROM A
    GROUP BY 1
    ORDER BY 3 DESC,2 DESC
  )

  SELECT 
    *,
    total_value/total_quantity unit_sale
  FROM B
"""
df = con.execute(query).fetch_df()
df

     animal  total_quantity  total_value  unit_sale
0       Dog             7.0      1064.63    152.090
1       Cat            10.0       494.53     49.453
2   Hamster             6.0        60.60     10.100
3    Parrot             2.0        50.00     25.000
4  Goldfish            24.0        48.48      2.020